* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #110523;
}

.axis > * {
  color: #8C7F98;
  font-size: 12px;
}  

.bar {
  fill: #B61544;
  opacity: 0.75;
}

.bar:hover {
  opacity: 1;
}