.svgExample .example {
  width: 100%;
  max-height: 200px;
  background-color: #0D0D0D;
}

.svgExample .eyes {
  fill: #E078FA;
}

.svgExample .eye rect:nth-child(even) {
  fill: #CB00FA;
}

.svgExample .title {
  text-align: center;
}